.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 40%; 
  background-color: #faedcd; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  margin: 0 auto; 
  text-align: center
}

.subscription-header {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.subscription-list {
  list-style-type: none; 
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.list-item {
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  margin: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.list-item:hover {
  transform: scale(1.1);
  color:  #2a9d8f
}